Body  {
    background: pink;
    font-family: Arial;
  }
  
  h1, h2, h3, h4 {
    font-family: Georgia;
    color: red;
  }

  .blueboldtext{
    font-size: small;
    color: blue;
    font-weight: bold;
  }

  .largegreentext{
    font-size: large;
    color: green;
    font-weight: bold;
  }

  .underline{
    text-decoration: underline;
  }